.chat {
  &.admin {
    .chat-item:hover {
      position: relative;
      .chat-remove {
        position: absolute;
        top: 5px;
        right: 5px;
        margin-top: 3px;
        display: inline !important;
      }
    }
  }
}