<div class="row brand-row">
  <div class="col-md-6 col-md-offset-3">
    <div class="cloudy text-center">

      <div>
        <img src="https://pucquepariu.s3.amazonaws.com/assets/logo.png" alt="PUC Que Pariu!" class="hero-logo"/>
      </div>

      <div>
        <h4>Provas antigas e exercícios de matérias da PUC-Rio!</h4>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <% unless StudyMaterial.recent.empty? %>
      <div class="cloudy">
        <h2>Novidades</h2>

        <% cache(StudyMaterial.last.cache_key) do %>
          <ul>
            <% StudyMaterial.recent.group_by{|s| s.created_at.to_date}.each_pair do |date, date_materials| %>
              <% date_materials.group_by(&:course).each_pair do |course, course_materials| %>
                <li>
                  <%= pluralize(course_materials.length, 'novo arquivo', 'novos arquivos') %>
                  de
                  <%= link_to course.abbreviation, course %>
                  (<%= date %>)
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>

      </div>
    <% end %>
  </div>


  <div class="col-md-5 col-md-offset-2">
    <div class="cloudy">
      <h2>Contato</h2>
      <p>Olá! Em caso de feedback, dúvidas ou contribuições, entre em contato.</p>

      <%= render partial: 'users/contact', locals: {teacher: {name: 'Guilherme Berger', uid: '758426378', nickname: 'gberger', email: 'guilherme.berger@gmail.com'}} %>

      <hr>

      <h2>Apoio</h2>
      
      <div class="media">
        <a class="pull-left" href="https://www.facebook.com/daafpucrio" title="DAAF PUC-Rio">
          <img class="media-object img-circle" src="https://pucquepariu.s3.amazonaws.com/assets/daaf/logo-64.png" alt="DAAF PUC-Rio">
        </a>
        <div class="media-body">
          <h4 class="media-heading">DAAF PUC-Rio</h4>
          Diretório Acadêmico de Engenharia
        </div>
      </div>
    </div>
  </div>
</div>