<h1>PUC Que Pariu!</h1>
<p>Bem-vindo.</p>

<%= markdown(%q{
Heading
=======

Sub-heading
-----------

Paragraphs are separated
by a blank line.

Text attributes *italic*,
**bold**, `monospace`.

A [link](http://example.com).

Shopping list:

  * apples
  * oranges
  * pears

Numbered list:

  1. apples
  2. oranges
  3. pears

The rain---not the reign---in
Spain.
})%>