<div class="panel panel-primary chat" id="chat">
  <div class="panel-heading">Chat de <%= course.abbreviation %></div>
  <ul class="list-group chat-messages">
    <li class="list-group-item no-messages-placeholder">Não há mensagens.</li>
  </ul>
  <div class="panel-footer">
    <form class="chat-form">
      <div class="input-group">
        <input type="text" class="form-control chat-msg-input">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-success" value="»"/>
        </span>
      </div>
    </form>
  </div>
</div>

<script>
  var oauth_token = '<%= j user.oauth_token %>';
  var course = '<%= j course.abbreviation %>';
</script>