/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require jquery.fileupload-ui
 *= require_self
 *= require static
 *= require courses
 *= require users
 */

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  .logo {
    height: 50px;
  }
}

.div-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8,
  make sure you have an empty gif */
  background-image: url('/empty.gif');
}

.div-link-other {
  position: relative;
  z-index: 2;
}
